<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename="css/logout.css")}}">
</head>

<body>

<h1>  
<a href="http://localhost:5000/" style="text-decoration:None;color:black">HOME</a>
</h1>
<form style="border:1px solid #ccc">
 

  <div class="container">
<h2><center>LOGGED OUT</center></h2>
<center>Thanks for Visiting !!<br> For more information check out our FAQ page </center>
<br>   <h3> <center>FAQ</center></h3>
  </div>


</form>

</body>
</html>

